server:
  port: 8081
  tomcat:
    uri-encoding: UTF-8
  servlet:
    context-path: /lmapi

spring:
  mvc:
    date-format: yyyy-MM-dd HH:mm:ss
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  datasource:
    druid:
      url: jdbc:mysql://122.51.244.159:3306/longmarch?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true
      username: longmarch
      password: pfbNKZmkcZ7CDhSf
      #      url: jdbc:mysql://192.168.1.115:3306/longmarch?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true
      #      username: root
      #      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver
      # 下面为连接池的补充设置，应用到上面所有数据源中
      initial-size: 20
      min-idle: 5
      max-active: 100
      # 配置获取连接等待超时的时间
      max-wait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: true
      test-on-return: false
      max-pool-prepared-statement-per-connection-size: 100
      # Spring监控配置，说明请参考Druid Github Wiki，配置_Druid和Spring关联监控配置
      aop-patterns:
        - top.longmarch.sys.service.*
        - top.longmarch.sys.dao.*
        - top.longmarch.job.service.*
        - top.longmarch.job.dao.*
        - top.longmarch.cms.service.*
        - top.longmarch.cms.dao.*
      #是否启用StatFilter默认值false
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
        session-stat-enable: true
        # 缺省sessionStatMaxCount是1000个
        session-stat-max-count: 1000
        profile-enable: true
        principal-cookie-name: admin
        principal-session-name: admin
      stat-view-servlet:
        enabled: true
        login-username: longmarch
        login-password: 111111
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      filters: stat,wall,slf4j
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

  cache:
    type: ehcache
    ehcache:
      config: classpath:ehcache.xml
      #  redis:
      #   database: 1
      #   host: 192.168.1.115
      #   port: 6385
      ##   password: 'wktWKT!!!'
      #   timeout: 5000
      #   pool:
      #     # 连接池最大连接数（使用负值表示没有限制）
      #     max-active: 8
      #     # 连接池最大阻塞等待时间（使用负值表示没有限制）
      #     max-wait: -1
      #     # 连接池中的最大空闲连接
      #     max-idle: 8
      #     # 连接池中的最小空闲连接
      #     min-idle: 0

mybatis-plus:
  mapper-locations: classpath*:/mapper/*/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: top.longmarch.*.entity
  #支持统配符 * 或者 ; 分割
  #  typeEnumsPackage: com.longmarch.common.enums
  global-config:
    # 数据库相关配置
    db-config:
      #主键类型  AUTO:"数据库ID自增", INPUT:"用户输入ID",ID_WORKER:"全局唯一ID (数字类型唯一ID)", UUID:"全局唯一ID UUID";
      id-type: AUTO
      #字段策略 IGNORED:"忽略判断",NOT_NULL:"非 NULL 判断"),NOT_EMPTY:"非空判断"
      field-strategy: NOT_NULL
      #驼峰下划线转换
      column-underline: true
      #数据库大写下划线转换
      capital-mode: true
      #逻辑删除配置
      logic-delete-value: 1
      logic-not-delete-value: 0
      db-type: mysql
    #刷新mapper 调试神器
    refresh: true
    #开启 SQL 解析缓存注解生效
    sql-parser-cache: true
  # 原生配置
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    # 3.0.8之前版本问题默认将枚举注册为EnumOrdinalTypeHandler,这是错误的方式,默认是 org.apache.ibatis.type.EnumTypeHandler
    # 如果项目之中实体统一使用IEnum或注解的方式,可配置成 com.baomidou.mybatisplus.extension.handlers.EnumTypeHandler,
    # 也可省略上面的type-enums-package配置
    # 配置type-enums-package只对注解方式的枚举处理能提前加载缓存.
#    default-enum-type-handler: com.baomidou.mybatisplus.extension.handlers.EnumTypeHandler

logging:
  #  config: classpath:conf/log4j2.xml
  level:
    top.longmarch: debug
