<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.longmarch.sys.dao.RoleDao">

    <select id="search" resultType="top.longmarch.sys.entity.Role">
        SELECT
            t2.id,
            t2.role_name AS roleName,
            t2.description,
            t2.`status`,
            t2. create_time AS createTime,
            COUNT(t1.user_id) AS userCount
        FROM sys_user_role_rel t1
        RIGHT JOIN sys_role t2 ON t1.role_id = t2.id
        <where>
            <if test="params.status != null">
                AND t2.status = #{params.status}
            </if>
            <if test="params.fuzzySearch != null and params.fuzzySearch != ''">
                AND (t2.role_name LIKE CONCAT(CONCAT('%',#{params.fuzzySearch},'%')))
            </if>
        </where>
        GROUP BY t2.id ORDER BY t2.id DESC
    </select>

    <select id="selectRolePermissionById" resultType="top.longmarch.sys.entity.vo.PermissionTree">
        SELECT
            t1.id,
            t1.parent_id AS pid,
            t1.permission_name AS permissionName,
            t1.permission_string AS permissionString,
            t1.type,
            t1.create_time AS createTime,
            CASE WHEN t2.permission_id IS NULL THEN FALSE ELSE TRUE END AS checked
        FROM sys_permission t1 LEFT JOIN sys_role_permission_rel t2
        ON t2.permission_id = t1.id AND t2.role_id = #{roleId}
        WHERE t1.status = 1
    </select>

    <select id="handleLoadRoleUsers" resultType="top.longmarch.sys.entity.vo.RoleUserDTO">
        SELECT
        t1.id AS userId,
        t1.username,
        CASE WHEN t2.user_id IS NULL THEN FALSE ELSE TRUE END AS checked
        FROM sys_user t1 LEFT JOIN sys_user_role_rel t2 ON t1.id = t2.user_id AND t2.role_id = #{roleId}
        <where>
            t1.`status` = 1
            <if test="username != null and username != ''">
                AND t1.username LIKE CONCAT(CONCAT('%',#{username},'%'))
            </if>
        </where>
        ORDER BY t1.id DESC
    </select>
</mapper>
