<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.longmarch.sys.dao.UserDao">

    <select id="search" resultType="top.longmarch.sys.entity.User">
        SELECT
        u.id, u.username, u.`status`, u.phone, u.login_count AS loginCount, u.last_login_time AS lastLoginTime,
        u.create_time AS createTime, u.head_img_url AS headImgUrl,
        GROUP_CONCAT(r.id ORDER BY u.id) roleIds,
        GROUP_CONCAT(r.role_name ORDER BY u.id) roleNames
        FROM sys_user u
        LEFT JOIN sys_user_role_rel ur ON ur.user_id = u.id
        LEFT JOIN sys_role r ON r.id = ur.role_id
        <where>
            <if test="params.status != null">
                AND u.status = #{params.status}
            </if>
            <if test="params.roleId != null">
                AND ur.role_id = #{params.roleId}
            </if>
            <if test="params.fuzzySearch != null and params.fuzzySearch != ''">
                AND (u.username LIKE CONCAT(CONCAT('%',#{params.fuzzySearch},'%'))
                OR u.phone LIKE CONCAT(CONCAT('%',#{params.fuzzySearch},'%')))
            </if>
        </where>
        GROUP BY u.id
        ORDER BY u.id DESC
    </select>

    <update id="updateUserLoginInfo">
        UPDATE sys_user SET login_count = login_count + 1, last_login_time = NOW() WHERE id = #{userId};
    </update>

</mapper>
